.root{
    -fx-background-image : url("fondo.jpg");
    -fx-background-size: 140%;
}

.text-field {
    -fx-focus-color: #009683;
}

#reporte1, #reporte2 {
    -fx-border-style: none;
    -fx-border-color: #E38300;
    -fx-border-radius: 3;
    -fx-text-fill: black;
    -fx-background-color: white;
}

#reporte1:hover, #reporte2:hover {
    -fx-border-style: none;
    -fx-border-color: #8C8C8C;
    -fx-border-radius: 3;
    -fx-text-fill: white;
    -fx-background-color: #8C8C8C;
}

#reporte1:pressed, #reporte2:pressed {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.button {
    -fx-border-style: none;
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-background-color: #00838A;
}

.button:hover {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.button:pressed {
    -fx-text-fill: white;
    -fx-background-color: #00838A;
}