# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Escritorio\Grado\SEGUNDO\Multimedia\Evaluacion_1\Videojuegos_Python\Ladrillos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
