# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Escritorio\Grado\Programacion\Evaluacion_2J\Proyectos\Puntuable_PEP2T-2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
